@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* fonts */
@font-face {
    font-family: 'SantaRegular';
    src: url('../fonts/SantaRegular.woff2') format('woff2'),
         url('../fonts/SantaRegular.woff') format('woff');
          font-weight: normal;
          font-style: normal;
          font-display: swap;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
         url('../fonts/Roboto-Bold.woff') format('woff');
         font-weight: normal;
         font-style: normal;
         font-display: swap;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
         url('../fonts/Roboto-Regular.woff') format('woff');
         font-weight: normal;
         font-style: normal;
         font-display: swap;
}

@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
         url('../fonts/Roboto-Thin.woff') format('woff');
         font-weight: normal;
         font-style: normal;
         font-display: swap;
}